<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Boolzap</title>
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Space+Grotesk:wght@300..700&display=swap"
        rel="stylesheet">
    <!-- FontAwesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!--  Foglio di Stile -->
    <link rel="stylesheet" href="./css/style.css" />
</head>

<body class="flex">
    <div id="app" class="flex">
        <aside>
            <header class="flex space-between align-center">
                <section class="flex align-center">
                    <figure>
                        <img src="img/avatar_io.jpg" alt="user avatar">
                    </figure>
                    <p>Sofia</p>
                </section>
                <div class="buttons-area">
                    <i class="fa-solid fa-circle-notch"></i>
                    <i class="fa-solid fa-message"></i>
                    <i class="fa-solid fa-ellipsis-vertical"></i>
                </div>
            </header>
            <section class="banner flex centered">
                <div class="aside-container">
                    <figure class="flex centered bg-white">
                        <i class="fa-solid fa-bell-slash"></i>
                    </figure>
                    <section>
                        <p>Ricevi notifiche di nuovi messaggi</p>
                        <a href="#">Attiva notifiche desktop</a>
                    </section>
                </div>
            </section>
            <section class="contacts-area flex centered">
                <div class="aside-container column">
                    <nav class="search-area flex align-center ">
                        <i class="fa-solid fa-magnifying-glass"></i>
                        <input type="text" name="search-bar" id="search-bar" placeholder="Cerca o inizia una nuova chat"
                            v-model="searchedName" @keyup="searchName(searchedName)">
                    </nav>
                    <section class="contacts">
                        <article class="item flex space-between" v-for="(item, index) in contacts" :key="index"
                            @click="changeActiveIndex(index)" :class="item.visible===false ? 'display-none' : ''">
                            <div class="flex">
                                <figure @click="toJpg">
                                    <img :src="item.avatar" :alt="item.name">
                                </figure>
                                <section>
                                    <h4>{{ item.name }}</h4>
                                    <p>Ultimo messaggio inviato</p>
                                </section>
                            </div>
                            <p v-if="item.visible===true">12.00</p>
                        </article>
                    </section>
                </div>
            </section>
        </aside>
        <main>
            <header class="flex centered">
                <nav class="flex space-between align-center">
                    <article class="item">
                        <div class="flex align-center">
                            <figure>
                                <img :src="this.contacts[activeIndex].avatar" alt="this.contacts[activeIndex].name">
                            </figure>
                            <section>
                                <h4>{{this.contacts[activeIndex].name}}</h4>
                                <p>Ultimo accesso alle 12.00</p>
                            </section>
                        </div>
                    </article>
                    <div class="buttons-area">
                        <i class="fa-solid fa-magnifying-glass"></i>
                        <i class="fa-solid fa-paperclip"></i>
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </div>
                </nav>
            </header>
            <section class="message-area flex jus-center">
                <div class="message-container">
                    <div class="message-box" v-for="(item, index) in contacts[activeIndex].messages" :key="index" :class="item.status=='sent' ? 'sent': ''">
                        <section class="flex space-between">
                            <p>{{item.message}}</p>
                            <i class="fa-solid fa-chevron-down" @click="toggleDropdown(activeIndex, index)">
                                <div class="dropdown" v-if="item.showDropdown">
                                    <p @click="deleteMessage(activeIndex, index)">Cancella messaggio</p>
                                    <p>Informazioni messaggio</p>
                                </div>
                            </i>
                        </section>
                        <p>{{item.date}}</p>
                    </div>
                </div>
            </section>
            <footer class="flex centered">
                <div class="flex centered">
                    <i class="fa-regular fa-face-smile"></i>
                    <input type="text" name="message" id="message" placeholder="Scrivi un messaggio"
                        v-model="newMessageContent" @keyup.enter="newMessage(activeIndex)">
                    <i class="fa-solid fa-microphone"></i>
                </div>
            </footer>
        </main>
    </div>
    <!-- Scripts -->
    <script src="https://cdn.jsdelivr.net/npm/luxon@3.4.4/build/global/luxon.min.js"></script>
    <script src='https://unpkg.com/vue@3/dist/vue.global.js'></script>
    <script src="./js/script.js"></script>
</body>

</html>